# DSPy
litellm
dspy-ai
litellm

# Visualization
networkx
matplotlib

# Unit testing
pytest

# Evaluation
datasets

# Optimization
langwatch

# Backend
fastapi
uvicorn
python-dotenv
celery
redis

# Misc
asyncio
pandas
numpy
tqdm
pydantic
weave
